body{
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}
/************************************************************ MENU SUPERIOR **************/
.caixa-menu{
    display: flex;
    align-items: center;
    background-color:#CF2B2B;
    position: fixed;
    
    width: 100%;
    height: 92px;
    top: 0;
 
}
.caixa-menu div{
    margin-left: 21px;
    align-items: left;
}
.caixa-menu h1{
    color: white;
    font-size: 44px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
    
}
.caixa-menu h2{
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}
/************************************************************ CONTEUDO **************/
.caixa-conteudo{

    margin-left: 19px;
    width: calc(100% - 19px);
    height: 100%;

    margin-top: 130px;
    margin-bottom: 120px;
    
}
/***************************** PRODUTO **************/

.caixa-pedido{
    margin-top: 27px;
    width: 100%;

}
.caixa-pedido h3{
    font-weight: 400;
    font-size: 26px;
    font-family: 'Righteous', cursive;
  
}
.caixa-pedido h1{
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 8px;
}
.caixa-pedido h2{
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.caixa-pedido p{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}

.caixa-todos-produtos{
    display: flex;
    overflow-x: scroll;

}
.caixa-produto{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 17px;
    margin-right: 8px;
    background-color: rgb(255, 255, 255);
    width: 172px;
    height: 216px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

    
}

.caixa-produto h1, h2, p{
    left: 0;
}
.caixa-produto img {

    margin: 18px;
    width: 144px;
    height: 87px;
    object-fit: cover;

}
/************************************************************ MENU INFERIOR **************/
.caixa-menu-inferior {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 92px;
    bottom: 0;
    
}
.caixa-menu-inferior button{
    background-color: #CBCBCB;
    border-radius: 50px;
    width: 85%;
    height: 61px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: white;
}

.caixa-menu-inferior button:hover {
    border: 5px rgb(0, 255, 42) solid;
}
